[Unit]
Description=Tomcat
After=network.target
[Service]
Type=forking
User=user
Group=user1
Environment="JAVA_HOME=/usr/lib/jvm/default-java"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE=/opt/user1"
Environment="CATALINA_HOME=/opt/user1"
Environment="CATALINA_PID=/opt/user1/temp/tomcat.pid"
ExecStart=/opt/user1/bin/startup.sh
ExecStop=/opt/user1/bin/shutdown.sh
[Install]
WantedBy=multi-user.target